/* Consolidated repetitive styles */
:root {
  --primary-bg: rgba(0, 0, 0, 1);
  --primary-color: white;
  --header-bg: rgb(36, 35, 35);
  --gap: 1rem;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box; /* Ensure consistent sizing */
}

body {
  background-color: var(--primary-bg);
}

h1,
h3,
p,
span {
  color: var(--primary-color);
}

h2 {
  margin-bottom: 10px;
}

/* Consolidate repetitive flexbox styles */
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  position: sticky;
  background-color: var(--header-bg);
  top: 0;
  padding: var(--gap);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
  gap: var(--gap);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }

  nav {
    margin-top: var(--gap);
  }

  ul {
    gap: calc(var(--gap) / 2);
  }

  .event-container {
    align-items: center;
  }

  .event-image {
    width: 100%;
    max-width: 300px;
  }
}

#contact {
  height: 100vh;
}

form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--primary-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

button {
  background-color: royalblue;
  color: var(--primary-color);
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: darkblue;
}

footer {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  min-height: 50px;
}
