/* Consolidated repetitive styles */
:root {
  --primary-bg: rgba(0, 0, 0, 1);
  --primary-color: white;
  --header-bg: rgb(36, 35, 35);
  --gap: 1rem;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box; /* Ensure consistent sizing */
}

body {
  background-color: var(--primary-bg);
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1,
h3,
p {
  color: var(--primary-color);
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  position: sticky;
  background-color: var(--header-bg);
  top: 0;
  padding: var(--gap);
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
  gap: var(--gap);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }

  nav {
    margin-top: var(--gap);
  }

  ul {
    gap: calc(var(--gap) / 2);
  }

  .event-image {
    width: 100%;
    max-width: 300px;
  }

  .event-details {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit to 2 lines */
    line-clamp: 2; /* Standard property for compatibility */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

h2 {
  font-size: 2rem;
  color: var(--primary-color);
  text-align: center;
}

#events {
  display: flex;
  flex-direction: column;
  row-gap: var(--gap);
  margin: 0 5%;
  padding: var(--gap);
}
@media screen and (min-width: 900px) {
  #events {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: left;
    padding: calc(var(--gap) * 2) 0;
  }
  .event-title {
    margin-bottom: calc(var(--gap) / 2) !important ;
  }
  .event-container {
    margin: 0 5% !important;
  }
}

.event-container {
  gap: var(--gap);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.event-image {
  width: 30%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 5%;
}

article {
  flex: 1; /* Allow details to take remaining space */
}

article p {
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.event-info {
  margin-bottom: calc(var(--gap) * 0.5);
}

.upcoming-events {
  font-size: 2rem;
  margin: var(--gap) 0;
}

.event-title {
  font-size: clamp(1.5rem, 2vw, 2.5rem);
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);
  margin-bottom: calc(var(--gap) * 2);
}

footer {
  display: flex;
  justify-content: space-between;
  margin: calc(var(--gap) * 2) auto;
  min-height: 50px;
}
