/* Consolidated repetitive styles */
:root {
  --primary-bg: rgba(0, 0, 0, 1);
  --primary-color: white;
  --header-bg: rgb(36, 35, 35);
  --gap: 1rem;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box; /* Ensure consistent sizing */
}

body {
  background-color: var(--primary-bg);
  grid-template-rows: auto 1fr auto;
}

h1,
h3,
p {
  color: var(--primary-color);
}

/* Consolidate repetitive flexbox styles */
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  position: sticky;
  background-color: var(--header-bg);
  top: 0;
  padding: var(--gap);
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
  gap: var(--gap);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }

  nav {
    margin-top: var(--gap);
  }

  ul {
    gap: calc(var(--gap) / 2);
  }
}

table {
  width: 80%;
  border-collapse: collapse;
  margin: 0 auto;
  font-size: 1rem;
  font-family: Arial, sans-serif;
  background-color: var(--primary-bg);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th,
td {
  color: var(--primary-color);
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #2b2c2b;
}

th {
  background-color: var(--primary-bg);
  color: var(--primary-color);
  font-weight: bold;
}

tr:hover {
  background-color: #858785;
}

/* Section header styling */
.section-header {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--primary-color);
  background-color: rgb(30, 30, 30);
  padding: 10px;
  border-top: 2px solid #2b2c2b;
  border-bottom: 2px solid #2b2c2b;
}

/* Responsive design */
@media (max-width: 768px) {
  table {
    font-size: 0.9rem;
  }

  th,
  td {
    padding: 8px;
  }

  .section-header {
    font-size: 1rem;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  min-height: 50px;
}
